
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body{

   width: 100%;
   height: 100%;

}


 .div {
    background: #000;
    color: aquamarine;
    /* height: 200px;
    width: 150px;
    padding: 10px ;
    border: 2px solid salmon;
    margin: 20px; */
}

 h1 {
    height: 10%;
    width: 10%;
    background: #1cea05;
 }

 #div2 {

    height: 100px;
    width: 100px;
    background: #07f1e2;
    border-radius: 50%;
    border: 3px solid gold;

 }
 #div3 {

    height: 20%;
    width: 20%;
    background: #d406fd;
    border-radius: 50%;
    border: 3px solid black;
    justify-content: center;
    

 }