 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

.box {
    margin: 10px;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background-image:linear-gradient(to bottom left,red, rgb(243, 233, 94),yellow);
    background-image:linear-gradient(to right,red, rgb(222, 221, 212),yellow);
    background-image:linear-gradient(to top right,rgb(7, 250, 40), rgb(248, 248, 246),rgb(248, 14, 42));
    background-image:linear-gradient(90deg,rgb(7, 250, 40), rgb(248, 248, 246),rgb(248, 14, 42));
    background-image:linear-gradient(20deg,rgb(7, 250, 40), rgb(248, 248, 246),rgb(248, 14, 42));
    background-image:linear-gradient(rgab(7, 0, 0,0), rgba(248, 248, 246) ,rgba(248, 14, 42,1));

}

.div {
    margin: 10px;
    height: 200px;
    width: 200px;
    background-image: radial-gradient(rgb(246, 35, 11),gold 50%,black );
    text-shadow: 10px 10px  4px white;
}

#box {
    height: 200px;
    width: 200px;
    background: #000;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 10px 10px 200px red;

}
#box1 {

    max-height: 100px;
    max-width: 500px;
    border: 1px solid black;
    overflow: scroll;
    margin: 20px;

}