*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

div {
    border: 1px solid wheat;
    margin: 2px;
    background: #f4f405;
    height: 150px;
    width: 150px;
    display:inline-block;
}

#div3 {

    background-color: aqua;
    position:sticky;
    height: 300px;
    width: 200px;
    position: absolute;
    top: 20px;


}

