*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {

    height: 100%;
    width: 100;
}

div {

    height: 200px;
    width: 100px;
    background-color: cyan;
    /* display:  ; */
}
